@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
