<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if title %}
        {{ title }} | Trainingshub Woerden
        {% else %}
        Trainingshub Woerden
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
</head>

<body>
    {% include "partials/header.html" %}
    {% block content %} 
    {% endblock content %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>